<!DOCTYPE html>

<html>
    <head>
         <!-- plantilla css -->
        <link href="{{ asset('css/formstyle.css') }}" rel="stylesheet" />
        <title>Bievenido a la carga de formulario de productos</title>
    </head>
    <body>
        <h1>{{nombreParametro}}</h1>
    </body>
</html>